.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  width: 90vw;
}
@media (min-width: 768px) {
  .app-container {
    width: 40vw;
  }
}
.count-number-heading {
  font-size: 35px;
  color: #0f172a;
}
.count-para {
  color: #334155;
  font-weight: 500;
  font-size: 25px;
}
.increment-button {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
}
.instruction-para {
  color: #1e293b;
  font-size: 12px;
}
